@import "compass";



$irish_green: #60bf7a;


html,body {
	margin:0;
	background-color: $irish_green;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #fff;
	height: 100%;
	width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #fff;
	-webkit-font-smoothing:antialiased;
}

h1 {
	font-size: 35px;
	line-height: 35px;
	margin: 20px 0;
}





#wrapper{
	text-align: center;
	position: relative;
	height: 100%;

	section {
		@include transition(opacity 1000ms);
		@include opacity(0);
		&.active {
			@include opacity(1);
		}
	}


	#recycool{
		background-color: #000;
		height: 600px;
		width: 600px;
		top:50%;
		left:50%;
		margin-top: -300px;
		margin-left: -300px;
		text-align: center;
		position: absolute;	
	}
	#power {
		display: block;
		position: absolute;
		top: 50%;
		left:0;
		width: 100%;
		margin: 0 auto;
		margin-top: -73px;
		
		img {
			display: block;
			margin: 0 auto;
		}
		h1 strong {
			display:block;
			font-weight: 300;
		}
		span {
			display:block;
			width: 100%;
			position: absolute;
			top:100px;
			left:0;
		}
		> div {
			display:none;
			&.active {
				display: block;
			}
		}
		div + div {
			img {
				margin-top: -20px;
			}
		}
		&:hover {
			> div {
				display:block;
				&.active {
					display: none;
				}
			}	
		}

	}
}

#footer {
	text-align: center;
	font-size: 10px;
}