@import "compass";



$irish_green: #60bf7a;


html,body {
	margin:0;
	background-color: $irish_green;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #fff;
	height: 100%;
	width: 100%;
	margin-bottom: 100px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #fff;
	-webkit-font-smoothing:antialiased;
}

h1 {
	font-size: 35px;
	line-height: 35px;
	margin: 20px 0;
}


nav {
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
}

%animation {
	opacity: 0;
	-webkit-transform: translateX(2000px);
}
%animation-on {
	opacity: 1;
	-webkit-transform: translateX(0);
}


#wrapper{
	text-align: center;
	position: relative;
	height: 100%;

	section {
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: $irish_green;
		@include transition(opacity 1000ms);
		&.overlay {
			@include opacity(0);
		}
		&.active {
			@include opacity(1);
		}
		> div {

			position: absolute;
			top:  0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}


	
	#open {
		background: #000;
		color: #000;
		> div {
			height: 315px;
		}
	}
	#power-on {
		> div {
			height: 175px;
		}
	}
	#power-off {
		> div {
			height: 150px;
		}
	}
	
	
}

#recycool{
		
	z-index: 1;
	text-align: center;

	> div {
		width: 750px;
		height: 698px;
	}
	
	.logo {
		display: block;
		margin: 100px auto 20px;
		img {
			display:block;
			margin: 20px auto;
		}
	}
	.bar-meter {
		height: 230px;
		width: 190px;
		position:relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto;
		margin-right: 10px;
		border-right: 2px solid #fff;
		span {
			position:absolute;
			top: 0;
			right: 0;
			display:block;
			margin: 5px 120px;
		}
		span + span {
			top: auto;
			bottom: 0;
		}
		ul,li {
			list-style:none;
			padding: 0;
			margin: 10px auto;
		}
		ul {
			position:absolute;
			right:0;
			bottom: 18px;			
		}
		li {
			display: none;
			margin: 4px auto;
			width: 120px;
			height: 15px;
			background-color: #FFF;
		}
	}
	.value {
			position: absolute;
			top: 50%;
			left:0;
			margin-top: -25px;
			width: 100%;
			text-align: center;
			font-size: 60px;
			font-weight: 200;
			strong {
				font-weight: 400;
			}
	}
	h2 {
			position: absolute;
			top: 50%;
			width: 100%;
			text-align: center;
			font-size: 20px;
			margin-top: -45px;
	}
	.weight {
		display: inline-block;
			vertical-align: middle;

		position: relative;
		margin: 0 30px;
		width: 266px;
		height: 266px;
		
	}
	.volume {
		display: inline-block;
			vertical-align: middle;

		position: relative;
		margin: 0 auto;

		width: 200px;
		height: 200px;
		.value {
			font-size: 27px;
			margin-top: -15px;
		}
		sup {
			font-size: 20px;
		}
		h2 {
			font-size: 16px;
			margin-top: -30px;
		}
	}
}

#footer {
	text-align: center;
	font-size: 10px;
}

@media screen and (max-width: 750px) {
	#recycool{
		> div {
			width: auto;
			height: auto;
		}
		.logo {
		   img + img {
		   	 visibility: hidden;
		   }
		}

	}


}
@media screen and (max-width: 550px) {
	#recycool{

		.bar-meter {
		   width: 120px; 
		}
		.weight, .volume, .bar-meter {
			margin-top: 30px;
			margin-bottom: 30px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

	}


}
