/* line 1, ../scss/main.scss */
html, body {
  margin: 0;
}

/* line 6, ../scss/main.scss */
#wrapper #recycool {
  height: 600px;
  text-align: center;
  position: relative;
}
/* line 10, ../scss/main.scss */
#wrapper #recycool div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* line 19, ../scss/main.scss */
#wrapper #recycool input {
  display: none;
}

/* line 25, ../scss/main.scss */
#footer {
  text-align: center;
  font-size: 10px;
}
