/* line 8, ../scss/main.scss */
html, body {
  margin: 0;
  background-color: #60bf7a;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #fff;
  height: 100%;
  width: 100%;
}

/* line 18, ../scss/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

/* line 25, ../scss/main.scss */
h1 {
  font-size: 35px;
  line-height: 35px;
  margin: 20px 0;
}

/* line 32, ../scss/main.scss */
nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

/* line 49, ../scss/main.scss */
#wrapper {
  text-align: center;
  position: relative;
  height: 100%;
}
/* line 54, ../scss/main.scss */
#wrapper section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #60bf7a;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
}
/* line 63, ../scss/main.scss */
#wrapper section.overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 66, ../scss/main.scss */
#wrapper section.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 69, ../scss/main.scss */
#wrapper section > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* line 81, ../scss/main.scss */
#wrapper #recycool {
  z-index: 1;
  text-align: center;
}
/* line 85, ../scss/main.scss */
#wrapper #open {
  background: #000;
  color: #000;
}
/* line 88, ../scss/main.scss */
#wrapper #open > div {
  height: 315px;
}
/* line 93, ../scss/main.scss */
#wrapper #power-on > div {
  height: 175px;
}
/* line 98, ../scss/main.scss */
#wrapper #power-off > div {
  height: 150px;
}

/* line 106, ../scss/main.scss */
#footer {
  text-align: center;
  font-size: 10px;
}
