<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recycool</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway+Dots|Raleway:400,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div id="wrapper">
        <section id="power-off" class="overlay active">
            <div>
                <img class="pulse" src="img/power.png" alt="">
                <h1>
                  <span class="animated">Turn power on</span>
                </h1>
            </div>
        </section>
        <section id="power-on" class="overlay">
            <div>
                <img src="img/logo.png" alt="">
                <h1>
                  <span class="animated">Recycool is <strong>Active</strong></span>
                </h1>
            </div>
        </section>
        <section id="open" class="overlay">
            <div>
                <img src="img/open.png" alt="">
                <h1>
                    <span>Box Open</span>
                </h1>
            </div>
        </section>
          




        <section id="recycool" class="overlay ">
            <div>
                <div class="logo">
                    <img src="img/logo-text.png" alt="">
                    <img src="img/separator.png" alt="">
                </div>
                <div class="bar-meter">
                    <span>
                        <img src="img/fill-circle.png" alt="">
                    </span>
                    <span>
                        <img src="img/empty-circle.png" alt="">
                    </span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    
                </div>
                <div class="weight">
                    <input data-skin="tron" data-width="266" data-height="266" type="text" class="dial" value="0">
                    <h2>Weight</h2>
                    <div class="value"><span>0</span><strong>g</strong></div>
                </div>
                <div class="volume">
                    <input data-skin="tron" data-width="200" data-height="200" type="text" value="0" class="dial">
                    <h2>Volume</h2>
                    <div class="value"><span>0</span><strong>cm<sup>3</sup></strong></div>
                </div>
            </div>
        </section>
        </div>
    </div>

    <!-- <footer id="footer">
        <div class="panel callout">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Recycool</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Robert Casanova, Fabrizio Calderan, Enrico Antonello, Nicholas Ruggeri</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/robertcasanova/recycool" rel="dct:source">https://github.com/robertcasanova/recycool</a>.
        </div>
    </footer> -->
    
    <script>
      var status = "{{ status }}",
          weight = "{{ weight }}",
          volume = "{{ volume }}";
    </script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/jquery.knob.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
